
@keyframes taglineEmerge
{
    0%
    {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }
  
    100%
    {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 1;
    }
}

@keyframes pushDown
{
    0%
    {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100%
    {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 1;
    }
}

@keyframes pushUp
{
    0%
    {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }
  
    100%
    {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 1;
    }
}



@keyframes leftPush
{
    0%
    {
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
      opacity: 0;
    }
  
    100%
    {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1;
    }
}
@keyframes rightPush
{
    0%
    {
      -webkit-transform: translateX(-50px);
      transform: translateX(-50px);
      opacity: 0;
    }
  
    100%
    {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1;
    }
}