@-webkit-keyframes taglineEmerge {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes taglineEmerge {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes pushDown {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes pushDown {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes pushUp {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes pushUp {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes leftPush {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes leftPush {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes rightPush {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes rightPush {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@font-face {
  font-family: 'Ubuntu';
  src: url("./res/font/Ubuntu/Ubuntu-Regular.ttf");
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e7e6e6;
}

pre > code {
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
  font-weight: 100;
}

#header {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: linear-gradient(120deg, #155799, #159957);
  -webkit-box-shadow: 0px 5px 15px 2px lightblue;
          box-shadow: 0px 5px 15px 2px lightblue;
  text-align: center;
  font-size: 24px;
  padding: 25px;
  color: rgba(255, 255, 255, 0.945);
  -webkit-animation: pushDown 1s;
          animation: pushDown 1s;
}

#header i {
  list-style: none;
}

#header > div {
  display: block;
  opacity: 0;
  -webkit-animation-name: taglineEmerge;
          animation-name: taglineEmerge;
  -webkit-animation-duration: 1400ms;
          animation-duration: 1400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#header > div:nth-child(1) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

#header > div:nth-child(2) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

#header > div:nth-child(3), #header > div:nth-child(4) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

#header #title {
  cursor: pointer;
  font-size: 48px;
  font-weight: bolder;
}

@media (max-width: 826px) {
  #header #title {
    font-size: 24px;
  }
}

#header #description {
  margin: 20px 0 60px 0;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.726);
}

@media (max-width: 826px) {
  #header #description {
    font-size: 16px;
  }
}

#header div#action {
  margin: 20px 0;
}

#header div#action > *:not(.virtual-space), #header div#action a:visited, #header div#action a:active, #header div#action a:link {
  display: inline;
  color: rgba(255, 255, 255, 0.726);
  font-size: 20px;
  padding: 12px 20px;
  background-color: rgba(160, 239, 253, 0.116);
  border: 1px solid rgba(255, 255, 255, 0.432);
  -webkit-box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.185);
          box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.185);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#header div#action > *:not(.virtual-space):hover, #header div#action a:visited:hover, #header div#action a:active:hover, #header div#action a:link:hover {
  color: dodgerblue;
  background-color: #fafafa;
}

@media (max-width: 1070px) {
  #header div#action > *:not(.virtual-space), #header div#action a:visited, #header div#action a:active, #header div#action a:link {
    font-size: 18px;
  }
}

@media (max-width: 987px) {
  #header div#action > *:not(.virtual-space), #header div#action a:visited, #header div#action a:active, #header div#action a:link {
    font-size: 16px;
  }
}

@media (max-width: 931px) {
  #header div#action > *:not(.virtual-space), #header div#action a:visited, #header div#action a:active, #header div#action a:link {
    font-size: 14px;
  }
}

@media (max-width: 826px) {
  #header div#action > *:not(.virtual-space), #header div#action a:visited, #header div#action a:active, #header div#action a:link {
    font-size: 12px;
  }
}

@media (max-width: 758px) {
  #header div#action > *:not(.virtual-space), #header div#action a:visited, #header div#action a:active, #header div#action a:link {
    font-size: 10px;
  }
}

@media (max-width: 692px) {
  #header div#action > *:not(.virtual-space), #header div#action a:visited, #header div#action a:active, #header div#action a:link {
    display: none;
  }
}

#header div#action .virtual-space {
  display: inline-block;
  width: 20px;
}

#header div#action a:link {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */