@import './keyframe.scss';


main
{
    // padding: 30px;
}

  input[name=css-tabs] {
    display: none;
  }
  
#tabs {
    margin-top: 1px;
    user-select: none;
	width: 100%;
    // background: rgb(223, 223, 223);
    background-image: linear-gradient(120deg, #155799, #159957);
	height: 80px;
	// border-bottom: 5px solid rgba(255, 85, 0, 0.699);
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    // overflow: hidden;
    padding: 10px;
    animation: pushUp 1.6s forwards;
    // white-space: nowrap;
    text-align: center;
}


#tabs::after {      /*  activated effect */
	content: "";
	display: block;
	position: relative;
	z-index: 0;
	// height: 5px;
	// width: 100px;
	background: rgb(1, 161, 235);     /* activated color */
	transition: transform 400ms;
}

#tabs label {       /* tab component  */
	position: relative;
	z-index: 100;
    

    // background-color: yellow;
    // float: left;
    font-weight: bolder;
    font-size: 11px;
	text-transform: uppercase;
    text-align: center;
	cursor: pointer;
    padding: 0 15px;
    color: rgba(255, 255, 255, 0.74);
    // border-right: 1px dotted #ffffff;
    
    max-width: 15%;
    min-width: 15%;
    height: 100%;
    display: inline-block;
    margin: 0 auto;
    
    &:last-child
    {
        border-right: none;
    }
}

#tabs label::before {   //  tab component icon
	content: "";
	display: block;
	height: 30px;
	width: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	filter: invert(20%);
    margin: 10px auto;


    @media (max-width:1070px)
    {
        // font-size: 18px;
    }
    @media (max-width:987px)
    {
        height: 25px;
	    width: 25px;
    }
    @media (max-width:692px)
    {
        display: none;
    }
}


#tab1::before {
	background-image: url(./res/icon/prepare.png);
}
#tab2::before {
	background-image: url(./res/icon/puzzle.png);
}
#tab3::before {
	background-image: url(./res/icon/template.png);
}
#tab4::before {
	background-image: url(./res/icon/youtube.png);
}
#tab5::before {
	background-image: url(./res/icon/facebook.png);
}


#radio1:checked ~ #tabs #tab1::before,
 #radio2:checked ~ #tabs #tab2::before,
  #radio3:checked ~ #tabs #tab3::before, 
  #radio4:checked ~ #tabs #tab4::before,
 #radio5:checked ~ #tabs #tab5::before {
    filter: invert(100%);
    opacity: 1;
}


#radio1:checked ~ #tabs::after {
	transform: translateX(10px);
}
#radio2:checked ~ #tabs::after {
	transform: translateX(1000px);
}
#radio3:checked ~ #tabs::after {
	transform: translateX(202px);
}
#radio4:checked ~ #tabs::after {
	transform: translateX(100%);
}
#radio5:checked ~ #tabs::after {
	transform: translateX(100%);
}




#content {
	position: relative;
    height: 500px;
    animation: pushUp 1.5s;
    padding: 20px;
}

#content section {
	position: absolute;
	transform: translateY(50px);
	opacity: 0;
	transition: transform 500ms, opacity 500ms;
}

#radio1:checked ~ #content #content1, #radio2:checked ~ #content #content2, #radio3:checked ~ #content #content3, #radio4:checked ~ #content #content4, #radio5:checked ~ #content #content5 {
	transform: translateY(0);
	opacity: 1;
}