@-webkit-keyframes taglineEmerge {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes taglineEmerge {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes pushDown {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes pushDown {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes pushUp {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes pushUp {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes leftPush {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes leftPush {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes rightPush {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes rightPush {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

input[name=css-tabs] {
  display: none;
}

#tabs {
  margin-top: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  background-image: linear-gradient(120deg, #155799, #159957);
  height: 80px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  -webkit-animation: pushUp 1.6s forwards;
          animation: pushUp 1.6s forwards;
  text-align: center;
}

#tabs::after {
  /*  activated effect */
  content: "";
  display: block;
  position: relative;
  z-index: 0;
  background: #01a1eb;
  /* activated color */
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

#tabs label {
  /* tab component  */
  position: relative;
  z-index: 100;
  font-weight: bolder;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  padding: 0 15px;
  color: rgba(255, 255, 255, 0.74);
  max-width: 15%;
  min-width: 15%;
  height: 100%;
  display: inline-block;
  margin: 0 auto;
}

#tabs label:last-child {
  border-right: none;
}

#tabs label::before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: invert(20%);
          filter: invert(20%);
  margin: 10px auto;
}

@media (max-width: 987px) {
  #tabs label::before {
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 692px) {
  #tabs label::before {
    display: none;
  }
}

#tab1::before {
  background-image: url(./res/icon/prepare.png);
}

#tab2::before {
  background-image: url(./res/icon/puzzle.png);
}

#tab3::before {
  background-image: url(./res/icon/template.png);
}

#tab4::before {
  background-image: url(./res/icon/youtube.png);
}

#tab5::before {
  background-image: url(./res/icon/facebook.png);
}

#radio1:checked ~ #tabs #tab1::before,
#radio2:checked ~ #tabs #tab2::before,
#radio3:checked ~ #tabs #tab3::before,
#radio4:checked ~ #tabs #tab4::before,
#radio5:checked ~ #tabs #tab5::before {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  opacity: 1;
}

#radio1:checked ~ #tabs::after {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

#radio2:checked ~ #tabs::after {
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
}

#radio3:checked ~ #tabs::after {
  -webkit-transform: translateX(202px);
          transform: translateX(202px);
}

#radio4:checked ~ #tabs::after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

#radio5:checked ~ #tabs::after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

#content {
  position: relative;
  height: 500px;
  -webkit-animation: pushUp 1.5s;
          animation: pushUp 1.5s;
  padding: 20px;
}

#content section {
  position: absolute;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, -webkit-transform 500ms;
  transition: transform 500ms, opacity 500ms;
  transition: transform 500ms, opacity 500ms, -webkit-transform 500ms;
}

#radio1:checked ~ #content #content1, #radio2:checked ~ #content #content2, #radio3:checked ~ #content #content3, #radio4:checked ~ #content #content4, #radio5:checked ~ #content #content5 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
/*# sourceMappingURL=tab.css.map */